.modal {
  position: fixed;
  padding: 2rem;
  top: 10%;
  width: auto;
  height: auto;
  background-color: var(--bg-modal);
  display: grid;
  max-width: 28rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radious-small);
}

.modal img {
  width: auto;
  height: auto;
  margin-bottom: 2rem;
}

.modal p {
  margin-bottom: 20px;
  color: var(--txt-color-modal);
}

.modal button {
  padding: 10px 20px;
  /* background-color: #333; */
  color: var(--color-light);
  border: none;
  cursor: pointer;
}
.expTitle {
  color: var(--txt-color-modal);
  font-size: 1.5rem;
}
.listSkills {
  display: flex;
  column-gap: 10px;    
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.listSkills li {
  list-style: none;
  max-width: max-content;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 35px;
  border-radius: var(--border-radious-small);
}

.techLinks {
  display: flex;
  gap: 1rem;
  color: var(--txt-color-modal);
  margin: 2rem 0;
  justify-content: center;
}

.techColor {
  color: var(--color-dark);
}