.modal {
  position: fixed;
  margin-left: 2rem;
  padding-left: 2rem;
  top: 10%;
  width: 63%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.modal img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
  color: white;
}

.modal button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
.expTitle {
  color: white !important;
  font-size: 1.5rem;
}
.modalInfo .Paragraph {
}
