.hamburgerNav {
  position: relative;
  z-index: 1000;
}

.btnFirst {
  z-index: 1100;
}

/* Tela escurecida ao fundo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* Menu lateral */
.navMenuHamburguer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background-color: var(--bg-main);
  box-shadow: -2px 0 8px rgba(9, 9, 9, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 24px 16px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: var(--border-radious-medium);
  box-shadow :0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;;
}

.navMenuHamburguer.open {
  transform: translateX(0);
}

/* Botão de fechar */
.closeBtn {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 24px;
}

/* Lista de links */
.navMenuHamburguer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navMenuHamburguer li {
  margin-bottom: 16px;
}

.navMenuHamburguer a {
  text-decoration: none;
  color: var(--txt-color);
  font-size: 18px;
  font-weight: 500;
}
