.wrapperTopHeader {
  border-bottom: 1px solid var(--border-color);
  padding: 0 3rem;
}
.containerTopHeader, .leftContainer, .rightContainer {
  display: flex;
  align-items: center;
}
.containerTopHeader{
  justify-content: space-between;
}

.topTopHeader .rightContainer {
    width: 8rem;
    justify-content: space-between;
}

.iconName {
  padding: 0.5rem 0.75rem;
  box-shadow: var(--shadow-btn);
  margin-right: 1rem;
  border-radius: .375rem;
}
.containerTopHeaderNav{
  display: flex;
  gap: 2rem;
}

@media (max-width: 991.98px) {
  .wrapperTopHeader {
    padding: 0.5rem 1rem;
  }
}