.form {
  display: grid;
  grid-gap: 0.8rem;
}
.form span {
  color: red;
  font-size: 0.8rem;
  text-align: initial;
}
.form input,
.form textarea {
  border-radius: var(--border-radious-small);
  border: 1px solid var(--border-color);
  color: var(--border-color);
  font-size: 0.8rem;
  min-height: 1.5rem;
}
