.button {
  background-color: var(--green);
  padding: 6px 12px;
  border-radius: var(--border-radious-medium);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #fff;
  transition: all .1s ease-in-out;
  border: 0;
}

.button a {
  cursor: pointer;
  color: #8c7a5e;
  text-decoration: none;
}

.button:hover,
.button:hover a {
  background-color: #8c7a5e;
  color: white;
}
